.App {
  text-align: center;
}

.app-container {
  height: 100vh;
  position: 'relative';
}

.header-div {
  width: 100%;
}

.white {
  color: white;
}

.dynamic-div {
  width: 100%;
  flex-direction: column;
}

.header-nav {
  background-color: #6441a4;
  justify-content: space-between;
}

.content-container, .project-container {
  display: flex;
  flex: 1;
  height: 800px;
  width: 100%;
  position: absolute;
  z-index: 1;
  justify-content: center;
}

.content-container {
  background-color: #322a44;
}

.project-container {
  background-color: #3b3053;
}

.arrow-container {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  align-items: center;
  z-index: 2;
  margin-top: 30%
}

.vod-page-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chart-div {
  flex-wrap: wrap;
  overflow: auto;
}

.broadcaster-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-content {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card-title {
  margin: 10px;
}

.content-card {
  min-height: 200px;
  max-width: 350px;
  padding: 25px;
  overflow: auto;
}

.no-match {
  color: white;
  margin-top: 100px;
}

.row-style {
  margin-top: 25px;
  width: 85%;
}

.preview-div {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.preview-img {
  width: 100%;
  border-radius: 20px;
}

.box-shadow {
  -webkit-box-shadow: 7px 7px 28px -6px rgba(1, 1, 1, 0.75);
  -moz-box-shadow: 7px 7px 28px -6px rgba(1, 1, 1, 0.75);
  box-shadow: 7px 7px 28px -6px rgba(1, 1, 1, 0.75);
}

.margin {
  margin: 5px;
}

.margin-50 {
  margin-top: 50;
}

.footer-style {
  width: 100%;
  height: 150px;
  background-color: white;
  position: absolute;
  bottom: 0;
  z-index: 4;
  text-align: center;
  flex-direction: row;
}